

    <section id="logs-message" class="experiment" style="display: none;text-align: center;font-size: 1.5em;line-height: 2;color: red;">Screenshare</section>

    <!-- just copy this <section> and next script -->
    <section class="experiment">
        <section class="hide-after-join" style="text-align: center;">                    
            <input type="text" id="room-name" placeholder="Enter " style="width: 80%; text-align: center; display: none;">
            <button id="share-screen" class="setup">Share Your Screen</button>
        </section>

        <!-- local/remote videos container -->
        <div id="videos-container"></div>

        <div id="unique-token" style="display: block; text-align: center; padding: 20px;">sdsdsdsd</div>
    </section>
    <article>
